@use '../abstracts' as *;

main{
  @include flex-center;
}

.container{
  @include flex-center;
  min-height: 70vh;
}

.not-found-text{
  width: 40%;

  & > h1{
    font-size: 38px;
    color: $secondary;
  }
  
  & > p{
    margin-block: 35px;
    font-size: 16px; 
    color: #2f2f2fa6;   
  }
}

.back-to-home{
  background-color: $accent-color;
  border-radius: 14px;
  border: 2px solid transparent;
  height: 38px;
  width: 250px;
  @include flex-center;
  color: $primary;
  transition: 0.8s;

  &:hover{
    @include btn-hover($accent-color, $primary) 
  }
}


.nf-img{
  width: 350px;
  height: 300px;
}


@media (max-width: $tablet-landscape){
  
  main{
    @include flex-center;
  }

  .container{
    flex-direction: column;
  }
  
  .nf-img{
    order: 1;
    width: 250px;
    height: 300px;
  }

  .not-found-text{
    order: 0;
    min-width: 70%;
    @include flex-center;
    flex-direction: column;

    & > h1{
      text-align: center;
      margin-top: 32px;
      margin-bottom: 0px;
    }

    & > p{
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .back-to-home{
    background-color: $accent-color;
    border-radius: 14px;
    font-size: 0.9rem;
    border: 2px solid transparent;
    height: 38px;
    width: 220px;
    @include flex-center;
    color: $primary;
    transition: 0.8s;
  
    &:hover{
      @include btn-hover($accent-color, $primary) 
    }
  }
}