@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.4;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

a[data-hs-anchor=true] {
  display: block;
  position: relative;
  visibility: hidden;
  top: 20vh;
}

header {
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 0vh 2vh 0vh;
}
nav .logo {
  width: 162px;
  height: 42px;
}
nav .nav-list {
  display: flex;
  justify-content: center;
  gap: 26px;
}
nav .nav-list li {
  letter-spacing: 1.2px;
}

.link {
  color: #2e2e2e;
  font-size: 0.8rem;
  font-weight: 400;
}

.whats-btn {
  width: 156px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  background-color: #f2f2f2;
  border: 2px solid #59b96e;
  border-radius: 30px;
  color: #59b96e;
  transition-duration: 0.6s;
}
.whats-btn:hover {
  cursor: pointer;
  background-color: #59b96e;
  border-color: #59b96e;
  color: #f2f2f2;
}

.current-page {
  border-bottom: solid 3px #688aa5;
  border-radius: 3px;
  padding-inline: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 11vh;
  background-color: #f2f2f2;
  border-bottom: solid 1px #bbb6b6;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 24px;
  height: 3px;
  border-radius: 50px;
  background-color: #688aa5;
  margin: 3px;
  transition: 0.5s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-list.active {
  transform: translateX(0);
}

@media (max-width: 599px) {
  .logo {
    max-width: 138px;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 180px;
    height: 340px;
    background-color: #688aa5;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    margin-top: 1rem;
  }
  .link {
    color: #f2f2f2;
  }
  .mobile-menu {
    display: block;
  }
  .whats-btn {
    display: none;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #f2f2f2;
    border-bottom: solid 1px #2e2e2e;
  }
}
@media (min-width: 599px) and (max-width: 1000px) {
  .whats-btn {
    display: none;
  }
  .link {
    font-size: 0.8rem;
  }
  .logo {
    max-width: 136px;
  }
}
.slider {
  width: 42vw;
  height: 62vh;
  border-radius: 8px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  height: 64vh;
}
.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}
.slide img {
  width: 580px;
  height: 420px;
}

.navigation-auto {
  position: absolute;
  width: 42vw;
  margin-top: 64vh;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  width: 18px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d1e0e0;
  transition-duration: 0.8s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 12px;
}

#radio1:checked ~ .navigation-auto > .auto-btn1 {
  background-color: #688aa5;
  width: 28px;
}

#radio2:checked ~ .navigation-auto > .auto-btn2 {
  background-color: #688aa5;
  width: 32px;
}

#radio3:checked ~ .navigation-auto > .auto-btn3 {
  background-color: #688aa5;
  width: 32px;
}

#radio4:checked ~ .navigation-auto > .auto-btn4 {
  background-color: #688aa5;
  width: 32px;
}

.manual-navigation {
  position: absolute;
  width: 42vw;
  margin-top: -2px;
  display: flex;
  justify-content: center;
}
.manual-navigation .manual-btn {
  width: 18px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.manual-navigation .manual-btn:not(:last-child) {
  margin-right: 0.6vw;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

@media (max-width: 900px) {
  .slider {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .slider {
    height: 18rem;
  }
  .navigation-auto {
    margin-top: 19rem;
  }
  .manual-navigation {
    margin-top: -10.6rem;
  }
}
.banner {
  display: flex;
  padding: 2vw 8vw 0vw 9vw;
}

.call-to-action {
  padding-right: 6vw;
  padding-top: 6vh;
}
.call-to-action > h2 {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}
.call-to-action > p {
  font-size: 14px;
  line-height: 1.7;
  padding: 1vh 0vh 3vh 0vh;
}

.btn {
  width: 185px;
  height: 38px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.services-btn {
  color: #f2f2f2;
  background-color: #59b96e;
  border: 2px solid transparent;
  transition-duration: 0.8s;
}
.services-btn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-color: #59b96e;
  color: #59b96e;
}

.follow-btn {
  border: 2px solid #688aa5;
  background-color: #f2f2f2;
  color: #688aa5;
  margin-left: 2vw;
  transition-duration: 0.8s;
}
.follow-btn:hover {
  cursor: pointer;
  background-color: #688aa5;
  border-color: none;
  color: #f2f2f2;
}

.whats-btn-mobile {
  display: none;
}

@media (max-width: 599px) {
  .call-to-action > h2 {
    font-size: 2rem;
  }
  .call-to-action > p {
    font-size: 0.8rem;
  }
  .call-to-action > div {
    display: flex;
    justify-content: center;
  }
  .follow-btn {
    display: none;
  }
  .services-btn {
    display: none;
  }
  .whats-btn-mobile {
    display: block;
    text-align: center;
    color: #f2f2f2;
    background-color: #59b96e;
    border: 2px solid transparent;
    transition-duration: 0.8s;
  }
  .whats-btn-mobile:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-color: #59b96e;
    color: #59b96e;
  }
}
@media (max-width: 900px) {
  .call-to-action {
    display: block;
    text-align: center;
    padding: 6vw 4vw 0vw 4vw;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .follow-btn {
    display: none;
  }
  .call-to-action > h2 {
    font-size: 1.8rem;
  }
  .call-to-action > p {
    font-size: 0.8rem;
  }
  .call-to-action > p {
    padding: 2vh 0vh 2vh 0vh;
  }
  .call-to-action > div {
    text-align: center;
  }
}
.card-slider-container {
  width: 240%;
  height: 100%;
  overflow-x: hidden;
}

.arrows-btn {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
}
.arrows-btn > img {
  border: solid 2px #688aa5;
  border-radius: 100%;
  padding: 4px;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.arrows-btn > img:hover {
  cursor: pointer;
}

.card-slider {
  display: flex;
  gap: 1vw;
  justify-content: left;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0;
}
.card-slider .item {
  min-width: 21%;
  height: 160px;
  position: relative;
  left: 0;
  border: 2px solid #688aa5;
  border-radius: 20px;
  transition: 0.8s;
  text-align: center;
  padding: 0.5rem;
}
.card-slider .item > img {
  margin-top: 1rem;
}
.card-slider .item > h4 {
  margin: 12px;
  font-size: 1rem;
  color: #688aa5;
}
.card-slider .item > p {
  margin-inline: 1vw;
  font-size: 0.8rem;
}

@media (max-width: 599px) {
  .card-slider-container {
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }
  .arrows-btn {
    display: none;
  }
  .card-slider {
    width: 100%;
    gap: 3vw;
    overflow-x: auto;
  }
  .card-slider .item {
    min-width: 35%;
    gap: 10vw;
  }
  .card-slider .item > img {
    width: 28px;
    height: 26px;
  }
  .card-slider .item > h4 {
    font-size: 14px;
  }
  .card-slider .item > p {
    font-size: 0.76rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-slider-container {
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }
  .arrows-btn {
    display: none;
  }
  .card-slider {
    width: 100%;
    gap: 2vw;
    overflow-x: auto;
  }
  .card-slider .item {
    min-width: 22%;
  }
  .card-slider .item > img {
    width: 28px;
    height: 26px;
  }
  .card-slider .item > h4 {
    font-size: 14px;
  }
  .card-slider .item > p {
    font-size: 0.76rem;
  }
}
.see-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}
.see-more-container .see-more {
  height: 32px;
  width: 130px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #688aa5;
  font-size: 0.8rem;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.8s;
}
.see-more-container .see-more:hover {
  border-color: #688aa5;
  background-color: #f2f2f2;
  color: #688aa5;
}

/*Hide scrollbars*/
.card-slider::-webkit-scrollbar {
  visibility: hidden;
}

@-moz-document url-prefix() {
  .card-slider {
    scrollbar-width: none;
  }
}
.card-slider {
  -ms-overflow-style: none;
}

.services-container {
  display: flex;
  gap: 4vw;
  margin: 4rem 5rem 5rem 5rem;
  padding: 0.4rem;
}

.aside-text {
  padding-top: 3vh;
}
.aside-text h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.aside-text h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.aside-text p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 599px) {
  .services-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 4vw;
  }
  .aside-text {
    order: 0;
    margin-inline: 2.5%;
  }
  .aside-text > h3 {
    font-size: 12px;
    text-align: start;
  }
  .aside-text > h2 {
    font-size: 22px;
    text-align: start;
  }
  .aside-text > p {
    display: none;
  }
  .card-slider-container {
    order: 2;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .services-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 4vw;
  }
  .aside-text {
    order: 0;
    margin-inline: 2.5%;
  }
  .aside-text > h3 {
    font-size: 12px;
    text-align: start;
  }
  .aside-text > h2 {
    font-size: 24px;
    text-align: start;
  }
  .aside-text > p {
    display: none;
  }
  .card-slider-container {
    order: 2;
  }
}
.testimony-container {
  display: grid;
  grid-template-columns: 0.5fr 0.4fr 0.6fr;
  grid-template-rows: 0.3fr 0.8fr 0.2fr 1fr;
  column-gap: 2vw;
  row-gap: 1.5vw;
  padding-inline: 6vw;
  margin-bottom: 10vh;
}

.testimony-title {
  grid-column-start: 1;
  grid-column-end: 2;
}
.testimony-title h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.testimony-title h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.testimony-title p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.testimony-card {
  background-color: #688aa5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8% 2% 8%;
}
.testimony-card > img {
  width: 62px;
  height: auto;
}
.testimony-card > p {
  margin-inline: 10px;
  text-align: center;
  color: #f2f2f2;
  font-size: 0.9rem;
  line-height: 1.7;
}

.author {
  display: flex;
  align-items: center;
}
.author > p {
  color: #f2f2f2;
  font-size: 0.9rem;
}

#t1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#t2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

#t3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#t4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

#t5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#t6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media (max-width: 599px) {
  .testimony-container {
    display: flex;
    flex-direction: column;
    padding-inline: 8vw;
    margin-block: 10vh;
    gap: 20px;
  }
  .testimony-title {
    text-align: center;
  }
  .testimony-title > h2 {
    font-size: 25px;
  }
  #t4,
  #t5 {
    display: none;
  }
}
@media (min-width: 599px) and (max-width: 900px) {
  .testimony-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
    padding-inline: 6vw;
    margin-block: 10vh;
  }
  .testimony-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  #t1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #t2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #t3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #t4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #t5,
  #t6 {
    display: none;
  }
}
.sponsors-container {
  display: flex;
  align-items: center;
  margin-inline: 6vw;
  gap: 1vw;
  margin-bottom: 4vh;
}

.sponsors {
  display: flex;
  width: 75%;
  gap: 10px;
}

.sponsor-info {
  text-align: center;
  padding: 2%;
}

.sponsors-text {
  width: 25%;
}
.sponsors-text h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.sponsors-text h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.sponsors-text p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}
.sponsors-text > p {
  margin-bottom: 12px;
}
.sponsors-text > a {
  font-size: 0.9rem;
  color: #688aa5;
  cursor: pointer;
}

.sponsor-wts-btn {
  width: 126px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #59b96e;
  border-radius: 30px;
  color: #59b96e;
  transition-duration: 0.8s;
}
.sponsor-wts-btn:hover {
  cursor: pointer;
  border-color: #59b96e;
  background-color: #59b96e;
  color: #f2f2f2;
}

@media (max-width: 900px) {
  .sponsors-container {
    flex-direction: column;
    gap: 4vw;
  }
  .sponsors {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsor-info {
    max-width: 180px;
  }
  .sponsors-text {
    order: 0;
    width: 100%;
    text-align: center;
  }
  .sponsors-text > p {
    display: none;
  }
  .sponsors-text > a {
    display: none;
  }
  .sponsors {
    order: 1;
    width: 100%;
  }
}
footer {
  background-color: #3F3F3F;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3F3F3F;
  padding-top: 10px;
}

.brand {
  text-align: center;
}
.brand > img {
  width: 162px;
  height: 42px;
}

.social-media {
  margin-block: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 14px;
  height: 14px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 26px;
}
.footer-nav > li {
  list-style: none;
  letter-spacing: 1.2px;
}
.footer-nav > li > a {
  color: #f2f2f2;
  font-size: 0.8rem;
}

.to-top {
  background-color: transparent;
  border: none;
}

.copyright {
  margin: 0;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  background-color: #2f2f2f;
  padding: 3px;
}

.map > iframe {
  margin-top: 2vh;
  max-width: 100vw;
  margin-bottom: -5px;
}

@media (max-width: 600px) {
  .container-footer {
    flex-direction: column;
  }
  .brand > img {
    margin-top: 10px;
    width: 152px;
    height: 32px;
  }
  .footer-nav {
    flex-direction: column;
  }
  .social-media {
    display: none;
  }
  .to-top {
    display: none;
  }
  .copyright {
    color: #f2f2f2;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    background-color: #2f2f2f;
    padding: 2px;
  }
}
.contact-form {
  display: flex;
  gap: 4vw;
  margin-inline: 8%;
  margin-block: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  order: 1;
}

.aside-form {
  width: 40%;
  order: 0;
}
.aside-form h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.aside-form h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.aside-form p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.name-and-email {
  display: flex;
  gap: 1vw;
}
.name-and-email > input {
  min-width: 22vw;
  height: 32px;
  border-radius: 8px;
  border: solid 2px #688aa5;
  padding-left: 10px;
}
.name-and-email > input:focus {
  border: 2px solid #688aa5;
  outline: none;
}

input:focus {
  border-color: solid red;
}

.message {
  min-width: 47vw;
  height: 22vh;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #688aa5;
}
.message::placeholder {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.message:focus {
  border: 2px solid #688aa5;
  outline: none;
}

.submit-btn-container {
  text-align: end;
}
.submit-btn-container > button {
  width: 20%;
  height: 36px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  background-color: #688aa5;
  color: #f2f2f2;
  cursor: pointer;
}

.contact-links {
  margin-top: 3vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-whats-btn {
  width: 146px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  background-color: #59b96e;
  border: 2px solid #59b96e;
  border-radius: 30px;
  color: #f2f2f2;
  transition-duration: 0.6s;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.phone {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .name-and-email {
    flex-direction: column;
  }
  .name-and-email > input {
    min-width: 44vw;
    font-size: 0.9rem;
  }
  .message {
    min-width: 43vw;
    font-size: 0.9rem;
  }
  .aside-form {
    width: 50%;
  }
  form {
    width: 60%;
  }
  .submit-btn-container {
    width: 91%;
  }
  .submit-btn-container > button {
    font-size: 0.9rem;
  }
  .contact-links {
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .contact-form {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-block: 5vh;
  }
  .name-and-email {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .name-and-email > input {
    width: 80%;
  }
  .message-container {
    text-align: center;
  }
  .message {
    width: 79%;
    align-items: center;
  }
  .message:focus {
    color: #f2f2f2;
  }
  .aside-form {
    width: 100%;
    text-align: center;
  }
  form {
    width: 100%;
  }
  .aside-form > p {
    text-align: center;
    margin-inline: 10%;
  }
}
.portfolio-container {
  margin-inline: 6vw;
  margin-block: 4vh;
  text-align: center;
  margin-bottom: 10vh;
}

.portifolio-text h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.portifolio-text h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.portifolio-text p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  width: 100%;
  margin-top: 6vh;
}

.project-card {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 10px;
  width: 320px;
  height: 440px;
  text-align: center;
  margin-bottom: 2vh;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  transition: 0.5s;
}
.project-card > h2 {
  font-size: 1.3rem;
}
.project-card > p {
  font-size: 0.9rem;
  margin-inline: 10px;
}
.project-card > img {
  border-radius: 8px;
  width: 96%;
  height: 60%;
}
.project-card:hover {
  transition: 0.5s;
  transform: translateY(-8px);
}

.project-btn {
  background-color: #59b96e;
  border-radius: 20px;
  width: 73%;
  height: 8%;
  text-align: center;
  border: solid 2px #59b96e;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.5s;
  font-size: 0.9rem;
}
.project-btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.project-btn > img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.team-section {
  margin-block: 4%;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  margin: 2%;
}

.team-card {
  text-align: center;
}
.team-card > img {
  border-radius: 50%;
}

.team-text {
  padding-inline: 10%;
  padding-block: 2%;
}
.team-text h3 {
  margin: 0;
  font-size: 0.8rem;
  color: #59b96e;
}
.team-text h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 28px;
}
.team-text p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.search {
  width: 80%;
  margin: 0 auto;
}

.search-wrapper {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 20px;
  border: 2px solid #688aa5;
  padding-inline: 0.6rem;
  padding-block: 0.2rem;
}

.search-bar {
  background-color: transparent;
  outline: transparent;
  border-color: transparent;
  width: 84%;
  height: 100%;
  color: #2e2e2e;
}
.search-bar::placeholder {
  font-size: 0.9rem;
}

.search-btn {
  background-color: transparent;
  outline: transparent;
  border-color: transparent;
}
.search-btn > img {
  height: 100%;
  width: 100%;
}

@media (min-width: 599px) {
  .search {
    width: 42vw;
  }
}
.categories {
  width: 30%;
  height: 80vh;
  padding: 0.2rem;
  position: fixed;
  z-index: 1;
  top: 12vh;
  left: 4vw;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 0;
  padding: 0;
}

.categories-text {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 2vh;
}
.categories-text > h2 {
  font-size: 1rem;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 3vw 3vh;
  row-gap: 3vh;
  column-gap: 3vw;
  z-index: 99;
}

.service {
  padding: 6%;
  border-radius: 20px;
  border: 2px solid #688aa5;
  align-items: center;
  padding-inline: 2%;
  text-align: center;
}
.service > img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.service-info > p {
  margin-inline: 1rem;
}

.services-layout {
  display: flex;
  margin-inline: 7vw;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.not-found-text {
  width: 40%;
}
.not-found-text > h1 {
  font-size: 38px;
  color: #688aa5;
}
.not-found-text > p {
  margin-block: 35px;
  font-size: 16px;
  color: rgba(47, 47, 47, 0.6509803922);
}

.back-to-home {
  background-color: #59b96e;
  border-radius: 14px;
  border: 2px solid transparent;
  height: 38px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  transition: 0.8s;
}
.back-to-home:hover {
  cursor: pointer;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  color: #59b96e;
}

.nf-img {
  width: 350px;
  height: 300px;
}

@media (max-width: 900px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    flex-direction: column;
  }
  .nf-img {
    order: 1;
    width: 250px;
    height: 300px;
  }
  .not-found-text {
    order: 0;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .not-found-text > h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0px;
  }
  .not-found-text > p {
    margin-bottom: 40px;
    text-align: center;
  }
  .back-to-home {
    background-color: #59b96e;
    border-radius: 14px;
    font-size: 0.9rem;
    border: 2px solid transparent;
    height: 38px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    transition: 0.8s;
  }
  .back-to-home:hover {
    cursor: pointer;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    color: #59b96e;
  }
}

/*# sourceMappingURL=styles.css.map */
