@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.4;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 0vh 2vh 0vh;
}
nav .logo {
  width: 162px;
  height: 42px;
}
nav .nav-list {
  display: flex;
  justify-content: center;
  gap: 26px;
}
nav .nav-list li {
  letter-spacing: 1.2px;
}

.link {
  color: #2e2e2e;
  font-size: 0.8rem;
  font-weight: 400;
}
.link:hover {
  color: #688aa5;
}

.whats-btn {
  width: 156px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  background-color: #f2f2f2;
  border: 2px solid #59b96e;
  border-radius: 30px;
  color: #59b96e;
  transition-duration: 0.6s;
}
.whats-btn:hover {
  cursor: pointer;
  background-color: #59b96e;
  border-color: #59b96e;
  color: #f2f2f2;
}

/* change de nav's link based on the current page  */
.current-page {
  font-weight: 600;
  color: #688aa5;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 24px;
  height: 3px;
  border-radius: 50px;
  background-color: #688aa5;
  margin: 3px;
  transition: 0.5s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-list.active {
  transform: translateX(0);
}

@media (max-width: 599px) {
  .logo {
    max-width: 138px;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 180px;
    height: 340px;
    background-color: #688aa5;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    margin-top: 1rem;
  }
  .link {
    color: #f2f2f2;
  }
  .mobile-menu {
    display: block;
  }
  .whats-btn {
    display: none;
  }
}
@media (min-width: 599px) and (max-width: 1000px) {
  .whats-btn {
    display: none;
  }
  .link {
    font-size: 0.8rem;
  }
  .logo {
    max-width: 136px;
  }
}
.slider {
  width: 42vw;
  height: 62vh;
  border-radius: 8px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  height: 64vh;
}
.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}
.slide img {
  width: 580px;
  height: 420px;
}

.navigation-auto {
  position: absolute;
  width: 42vw;
  margin-top: 64vh;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  width: 18px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d1e0e0;
  transition-duration: 0.8s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 12px;
}

#radio1:checked ~ .navigation-auto > .auto-btn1 {
  background-color: #688aa5;
  width: 28px;
}

#radio2:checked ~ .navigation-auto > .auto-btn2 {
  background-color: #688aa5;
  width: 32px;
}

#radio3:checked ~ .navigation-auto > .auto-btn3 {
  background-color: #688aa5;
  width: 32px;
}

#radio4:checked ~ .navigation-auto > .auto-btn4 {
  background-color: #688aa5;
  width: 32px;
}

.manual-navigation {
  position: absolute;
  width: 42vw;
  margin-top: -2px;
  display: flex;
  justify-content: center;
}
.manual-navigation .manual-btn {
  width: 18px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.manual-navigation .manual-btn:not(:last-child) {
  margin-right: 0.6vw;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

@media (max-width: 900px) {
  .slider {
    display: none;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .slider {
    height: 18rem;
  }
  .navigation-auto {
    margin-top: 19rem;
  }
  .manual-navigation {
    margin-top: -10.6rem;
  }
}
.banner {
  display: flex;
  padding: 2vw 8vw 0vw 9vw;
}

.call-to-action {
  padding-right: 6vw;
  padding-top: 6vh;
}
.call-to-action > h2 {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}
.call-to-action > p {
  font-size: 14px;
  line-height: 1.7;
  padding: 3vh 0vh 3vh 0vh;
}

.btn {
  width: 185px;
  height: 38px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.services-btn {
  color: #f2f2f2;
  background-color: #59b96e;
  border: 2px solid transparent;
  transition-duration: 0.8s;
}
.services-btn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-color: #59b96e;
  color: #59b96e;
}

.follow-btn {
  border: 2px solid #688aa5;
  background-color: #f2f2f2;
  color: #688aa5;
  margin-left: 2vw;
  transition-duration: 0.8s;
}
.follow-btn:hover {
  cursor: pointer;
  background-color: #688aa5;
  border-color: none;
  color: #f2f2f2;
}

@media (max-width: 599px) {
  .call-to-action h2 {
    font-size: 2rem;
  }
  .call-to-actionp {
    font-size: 0.8rem;
  }
  .follow-btn {
    display: none;
  }
}
@media (max-width: 900px) {
  .call-to-action {
    display: block;
    text-align: center;
    padding: 6vw 4vw 0vw 4vw;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .follow-btn {
    display: none;
  }
  .call-to-action > h2 {
    font-size: 1.8rem;
  }
  .call-to-action > p {
    font-size: 0.8rem;
  }
  .call-to-action > p {
    padding: 2vh 0vh 2vh 0vh;
  }
  .call-to-action > div {
    text-align: center;
  }
}
.card-slider-container {
  width: 240%;
  height: 100%;
  overflow-x: hidden;
}

.arrows-btn {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
}
.arrows-btn > img {
  border: solid 2px #688aa5;
  border-radius: 100%;
  padding: 4px;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.arrows-btn > img:hover {
  cursor: pointer;
}

.card-slider {
  display: flex;
  gap: 1vw;
  justify-content: left;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0;
}
.card-slider .item {
  min-width: 21%;
  height: 160px;
  position: relative;
  left: 0;
  border: 2px solid #688aa5;
  border-radius: 20px;
  transition: 0.8s;
  text-align: center;
  padding: 0.5rem;
}
.card-slider .item > img {
  margin-top: 1rem;
}
.card-slider .item > h4 {
  margin: 12px;
  font-size: 1rem;
  color: #688aa5;
}
.card-slider .item > p {
  margin-inline: 1vw;
  font-size: 0.8rem;
}

@media (max-width: 599px) {
  .card-slider-container {
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }
  .arrows-btn {
    display: none;
  }
  .card-slider {
    width: 100%;
    gap: 3vw;
    overflow-x: auto;
  }
  .card-slider .item {
    min-width: 35%;
    gap: 10vw;
  }
  .card-slider .item > img {
    width: 28px;
    height: 26px;
  }
  .card-slider .item > h4 {
    font-size: 14px;
  }
  .card-slider .item > p {
    font-size: 0.76rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-slider-container {
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }
  .arrows-btn {
    display: none;
  }
  .card-slider {
    width: 100%;
    gap: 2vw;
    overflow-x: auto;
  }
  .card-slider .item {
    min-width: 22%;
  }
  .card-slider .item > img {
    width: 28px;
    height: 26px;
  }
  .card-slider .item > h4 {
    font-size: 14px;
  }
  .card-slider .item > p {
    font-size: 0.76rem;
  }
}
.see-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}
.see-more-container .see-more {
  height: 32px;
  width: 130px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #688aa5;
  font-size: 0.8rem;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.8s;
}
.see-more-container .see-more:hover {
  border-color: #688aa5;
  background-color: #f2f2f2;
  color: #688aa5;
}

/*Hide scrollbars*/
.card-slider::-webkit-scrollbar {
  visibility: hidden;
}

@-moz-document url-prefix() {
  .card-slider {
    scrollbar-width: none;
  }
}
.card-slider {
  -ms-overflow-style: none;
}

.services-container {
  display: flex;
  gap: 4vw;
  margin: 4rem 5rem 5rem 5rem;
  padding: 0.4rem;
}

.aside-text {
  padding-top: 3vh;
}
.aside-text > h3 {
  margin: 0;
  font-size: 0.7rem;
  color: #59b96e;
}
.aside-text > h2 {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 24px;
}
.aside-text > p {
  margin: 0;
  padding-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 599px) {
  .services-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 4vw;
  }
  .aside-text {
    order: 0;
    margin-inline: 2.5%;
  }
  .aside-text > h3 {
    font-size: 12px;
    text-align: start;
  }
  .aside-text > h2 {
    font-size: 22px;
    text-align: start;
  }
  .aside-text > p {
    display: none;
  }
  .card-slider-container {
    order: 2;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .services-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 4vw;
  }
  .aside-text {
    order: 0;
    margin-inline: 2.5%;
  }
  .aside-text > h3 {
    font-size: 12px;
    text-align: start;
  }
  .aside-text > h2 {
    font-size: 24px;
    text-align: start;
  }
  .aside-text > p {
    display: none;
  }
  .card-slider-container {
    order: 2;
  }
}
footer {
  background-color: #3F3F3F;
  padding: 10px;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3F3F3F;
}

.brand {
  text-align: center;
}
.brand > img {
  width: 162px;
  height: 42px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-media > img {
  width: 18px;
  height: 18px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 26px;
}
.footer-nav > li {
  list-style: none;
  letter-spacing: 1.2px;
}
.footer-nav > li > a {
  color: #f2f2f2;
  font-size: 0.8rem;
}

.to-top {
  background-color: transparent;
  border: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-text {
  width: 40%;
  padding: 2%;
}
.not-found-text > h1 {
  font-size: 38px;
  color: #688aa5;
}
.not-found-text > p {
  margin-block: 35px;
  font-size: 16px;
  color: rgba(47, 47, 47, 0.6509803922);
}

.back-to-home {
  background-color: #59b96e;
  border-radius: 14px;
  border: 2px solid transparent;
  height: 38px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  transition: 0.8s;
}
.back-to-home:hover {
  border-color: #59b96e;
  background-color: #f2f2f2;
  color: #59b96e;
}

.nf-img {
  width: 350px;
  height: 400px;
}

@media (max-width: 900px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    flex-direction: column;
  }
  .nf-img {
    order: 1;
    width: 350px;
    height: 300px;
  }
  .not-found-text {
    order: 0;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .not-found-text > h1 {
    text-align: center;
  }
  .not-found-text > p {
    margin-block: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
