@use '../abstracts/' as *;

.card-slider-container{
  background-color: red;
  width: 240%;
  height: 40vh;
  overflow-x: hidden;
}

.arrows-btn{
  display: flex;
  gap: 0.4rem;

  & > img{
    border: solid 2px $secondary;
    border-radius: 100%;
    padding: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  & > img:hover{
    cursor: pointer;
  }
}

.card-slider{
  background-color: blue;
  display: flex;
  gap: 14px;
  justify-content: left;
  overflow-x: auto;
  width: 99%;
  height: 30vh;
  margin-top: 0.4rem;
  padding: 10px;

  & > div{
    background-color: violet;
    min-width: 185px;
    height: 160px;
    position: relative;
    left: 0;
    border: 2px solid $secondary;
    border-radius: 8px;
    transition: 0.8s;
  }
}

/*Hide scrollbars*/
.card-slider::-webkit-scrollbar{
  visibility: hidden;
}
@-moz-document url-prefix() {
  .card-slider{
    scrollbar-width: none;
  }
}
.card-slider{
  -ms-overflow-style: none;
}

