@use '../abstracts/' as *;

.card-slider-container{
  width: 240%;
  height: 100%;
  overflow-x: hidden;
}

.arrows-btn{
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;

  & > img{
    border: solid 2px $secondary;
    border-radius: 100%;
    padding: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  & > img:hover{
    cursor: pointer;
  }
}

.card-slider{
  // background-color: aqua;
  display: flex;
  gap: 1vw;
  justify-content: left;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  
  margin-top: 0.4rem;
  padding: 0;

  .item{
    min-width: 21%;
    height: 160px;
    position: relative;
    left: 0;
    border: 2px solid $secondary;
    border-radius: 20px;
    transition: 0.8s;
    text-align: center;
    padding: 0.5rem;

    & > img{
      margin-top: 1rem;
    }
  
    & > h4{
      margin: 12px;
      font-size: 1rem;
      color: $secondary;
    }
    
    & > p{
      margin-inline: 1vw;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: $mobile){
  .card-slider-container{
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }

  .arrows-btn{
    display: none;
  }

  .card-slider{
    width: 100%;
    gap: 3vw;
    overflow-x: auto;

    .item{    
      min-width: 35%;
      gap: 10vw;
      & > img{
        width: 28px;
        height: 26px
      }

      & > h4{
        font-size: 14px;
      }

      & > p{
        font-size: 0.76rem
      }
    }
  }
}

@media screen and (min-width: $tablet-portrait) and (max-width: $tablet-landscape){
  
  .card-slider-container{
    order: 1;
    width: 100%;
    overflow-x: hidden;
  }

  .arrows-btn{
    display: none;
  }

  .card-slider{
    width: 100%;
    gap: 2vw;
    overflow-x: auto;

    .item{    
      min-width: 22%;
      & > img{
        width: 28px;
        height: 26px
      }

      & > h4{
        font-size: 14px;
      }

      & > p{
        font-size: 0.76rem
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1280px){
  //1000px
}


.see-more-container{
  @include flex-center;
  padding: 3vh;
  
  .see-more{
    height: 32px;
    width: 130px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: $secondary;
    font-size: 0.8rem;
    color: $primary;
    cursor: pointer;
    transition: 0.8s;
  
    &:hover{
      border-color: $secondary;
      background-color: $primary;
      color: $secondary;
    }
  }
}

/*Hide scrollbars*/
.card-slider::-webkit-scrollbar{
  visibility: hidden;
}
@-moz-document url-prefix() {
  .card-slider{
    scrollbar-width: none;
  }
}
.card-slider{
  -ms-overflow-style: none;
}

