@use '../abstracts/' as *;

.card-slider-container{
  background-color: red;
  width: 250%;
  height: 36vh;
  overflow: hidden;
}

.arrows-btn{
  background-color: green;
  display: flex;
  gap: 0.4rem;

  & > img{
    border: solid 2px $secondary;
    border-radius: 100%;
    padding: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
  }

  & > img:hover{
    cursor: pointer;
  }
}

.card-slider{
  background-color: blue;
  display: flex;
  gap: 20px;
  justify-content: left;
  overflow-x: auto;
  width: 99%;
  height: 30vh;
  margin-top: 0.4rem;

  & > div{
    background-color: violet;
    min-width: 200px;
    height: 170px;
  }
}

/*Hide scrollbars*/
.card-slider::-webkit-scrollbar{
  visibility: hidden;
}
@-moz-document url-prefix() {
  .card-slider{
    scrollbar-width: none;
  }
}
.card-slider{
  -ms-overflow-style: none;
}

