@use '../abstracts/' as *;

.categories{
  width: 30%;
  height: 80vh;
  padding: 0.2rem;
  top: 12vh;
  left: 4vw; 
}

.categories-wrapper{
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 0;
  padding: 0;
}

.categories-text{
  display: flex;
  gap: 0.3rem;
  margin-bottom: 2vh;

  & > h2{
    font-size: 1rem;
  }
}