@use '../abstracts/' as *;

.contact-form{
  display: flex;
  gap: 4vw;
  margin-inline: 8%;
  margin-block: 4%;
  @include flex-center;
}

form{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  order: 1;
}

.aside-form{
  width: 40%;
  @include aside-text($accent-color);
  order: 0;
}

.name-and-email{
  display: flex;
  gap: 1vw;

  & > input{
    min-width: 22vw;
    height: 32px;
    border-radius: 8px;
    border: 2px solid $secondary;
    padding-left: 10px;
  }
}

.message{
  min-width: 47vw;
  height: 22vh;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid $secondary;

  &::placeholder{
    padding: 10px;
    position: absolute;
    top: 0; 
    left: 0;
  }
}


.contact-links{
  margin-top: 3vh;
  display: flex;
  @include flex-center;
  gap: 20px;
}

.form-whats-btn{
  width: 146px;
  height: 32px;
  font-size: 12px;
  font-weight: $title;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 30px;
  color: $primary;
  transition-duration: 0.6s;
  display: flex;
  @include flex-center;
  gap: 10px;
  cursor: pointer;
}

.phone{
  margin: 0 auto;
}

@media (max-width: $tablet-landscape){
  .name-and-email{
    flex-direction: column;
    
    & > input{
      min-width: 44vw;
    }
  }

  .message{
    min-width: 43vw;
  }

  .aside-form{
    width: 50%;
  }

  form{
    width: 60%;
    background-color: red;
  }

  .contact-links{
    flex-direction: column;
  }
}

@media (max-width: 750px){
  
  .contact-form{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-block: 5vh;
  }

  .name-and-email{
    flex-direction: column;
    gap: 12px;
    align-items: center;
    
    & > input{
      width: 80%;
    }
  }

  .message-container{
    text-align: center;
  }

  .message{
    width: 79%;
    align-items: center;

    &:focus{
      color: $primary;
    }
  }

  .aside-form{
    width: 100%;
    text-align: center;
  }

  form{
    width: 100%;
  }

  .aside-form > p{
    text-align: center;
    margin-inline: 10%;
  }    
}