@use '../abstracts/' as *;

footer{
  background-color: $footer-bg;
}

.container-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $footer-bg;
  padding-top: 10px;
}

.brand{
  text-align: center;

  & > img{
    width: 162px;
    height: 42px;
  }
}

.social-media{
  margin-block: 4px;
  @include flex-center;
  gap: 10px;
}

.social-icon{
  width: 14px;
  height: 14px;
}

.footer-nav{
  display: flex;
  justify-content: center;
  gap: 26px;

  & > li{
    list-style: none;
    letter-spacing: 1.2px;

    & > a{
      color: $primary;
      font-size: 0.8rem;
    }
  }
}

.to-top{
  background-color: transparent;
  border: none;
}

.copyright{
  margin: 0;
  color: $primary;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  background-color: #2f2f2f;
  padding: 3px;
}

@media (max-width: $tablet-portrait){

  .container-footer{
    flex-direction: column;
  }

  .brand > img{
    margin-top: 10px;
    width: 152px;
    height: 32px;
  }

  .footer-nav{
    flex-direction: column;
  }

  .social-media{
    display: none;
  }

  .to-top{
    display: none;
  }

  .copyright{
    color: $primary;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    background-color: #2f2f2f;
    padding: 2px;
  }

}
