@use '../abstracts' as *;

header{
  z-index: 99; 
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 0vh 2vh 0vh;

  .logo{
    width: 162px;
    height: 42px;
  }

  .nav-list{
    display: flex;
    justify-content: center;
    gap: 26px;
  }

  .nav-list li{
    letter-spacing: 1.2px;
  }
}

.link{
  color: $text-color;
  font-size: 0.8rem;
  font-weight: $paragraph;

  &:hover{
    color: $secondary;
  }
}

.whats-btn{
  width: 156px;
  height: 32px;
  font-size: 12px;
  font-weight: $title;
  background-color: $primary;
  border: 2px solid $accent-color;
  border-radius: 30px;
  color: $accent-color;
  transition-duration: 0.6s;

  &:hover{
    cursor: pointer;
    background-color: $accent-color;
    border-color: $accent-color;
    color: $primary;
  }
}

/* change de nav's link based on the current page  */
.current-page{
  font-weight: $title;
  color: $secondary;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  height: 11vh;
  background-color: $primary;
  border-bottom: solid 1px #bbb6b6;
}

.mobile-menu{
  display: none;
  cursor: pointer;

  & div{
    width: 24px;
    height: 3px;
    border-radius: 50px;
    background-color: $secondary;
    margin: 3px;
    transition: 0.5s;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-list.active{
  transform: translateX(0);
}

@media(max-width: $mobile){
   
  .logo{
    max-width: 138px;
  }

  .nav-list{
    position: fixed;
    top: 8vh;
    right: 0;
    width: 180px;
    height: 340px;
    background-color: $secondary;
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    & li{
      margin-left: 0;
      opacity: 0;
      margin-top: 1rem;
    }
  }

  .link{
    color: $primary;
  }

  .mobile-menu{
    display: block;
  }

  .whats-btn{
    display: none;
  }
  
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: $primary;
    border-bottom: solid 1px $text-color;
  }
}


@media (min-width: $mobile) and (max-width: 1000px){

  .whats-btn{
    display: none;
  }
  
  .link{
    font-size: 0.8rem;
  }

  .logo{
    max-width: 136px;
  }
}
