@use '../abstracts/' as *;

.newsletter-form{
  display: flex;
  gap: 2%;
  @include flex-center;
  margin-inline: 6%;
  padding-block: 3%;
  margin-bottom: 4%;  
}

.text-wrapper{
  width: 40%;
  @include aside-text($accent-color);
}

.news-wrapper{
  display: flex;
  flex-direction: row;
}

.form-input{
  width: 18vw;
  height: 32px;
  border-radius: 8px;
  border: solid 2px $secondary;
  padding-left: 10px;
  font-size: 0.9rem;
  color: $text-color;

    &:focus{
      border: 2px solid $secondary;
      outline: none;
    }
}

.sub-btn{
  width: 14rem;
  height: 32px;
  border-radius: 30px;
  outline: none;
  border: 2px solid transparent;
  background-color: $secondary;
  color: $primary;
  cursor: pointer;
  font-size: 0.9rem;
}

@media (max-width: $tablet-landscape){
  .newsletter-form{
    flex-direction: column;
    margin-block: 8%;
  }

  .text-wrapper{
    width: 100%;
    text-align: center;
    
    & > p {
      margin-inline: 4%;
    }
  }

  .news-wrapper{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .form-input{
    width: 90%;
  }
}

@media (max-width: $mobile){
  .news-wrapper{
    flex-wrap: wrap;
  }
}