@use '../abstracts/' as *;

.service-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 3vw 3vh;
  row-gap: 3vh;
  column-gap: 3vw;
}

.service{
  display: flex;
  border-radius: 20px;
  border: 2px solid $secondary;
  align-items: center;
  padding-inline: 2%;
  gap: 2%;

  & > img{
    width: 40%;
    border-radius: 10px;
    height: 90%;

  }
}

.service-info{
  width: 80%;
}