@use '../abstracts/' as *;

.service-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 3vw 3vh;
  row-gap: 3vh;
  column-gap: 3vw;
}

.service{
  padding: 6%;
  border-radius: 20px;
  border: 2px solid $secondary;
  align-items: center;
  padding-inline: 2%;
  text-align: center;

  & > img{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
  }
}

.service-info > p{
  margin-inline: 1rem;
}

