@use '../abstracts/' as *;

.sponsors-container{
  display: flex;
  align-items: center;
  margin-inline: 6vw;
  gap: 1vw;
  margin-bottom: 4vh;
}

.sponsors{
  display: flex;
  width: 75%;
  gap: 10px;
}

.sponsor-info{
  text-align: center;
  padding: 2%;
}

.sponsors-text{
  width: 25%;
  @include aside-text($accent-color);

  & > p{
    margin-bottom: 12px;
  }

  & > a{
    font-size: 0.9rem;
    color: $secondary;
    cursor: pointer;
  }
}


.sponsor-wts-btn{
  width: 126px;
  height: 32px;
  font-size: 12px;
  font-weight: $title;
  background-color: transparent;
  border: 2px solid $accent-color;
  border-radius: 30px;
  color: $accent-color;
  transition-duration: 0.8s;

  &:hover{
    @include btn-hover($primary, $accent-color);
  }
}


@media (max-width: $tablet-landscape){
  .sponsors-container{
    flex-direction: column;
    gap: 2vw;
  }

  .sponsors-text{
    order: 0;
    width: 100%;

    & > p{
      display: none;
    }

    & > a{
      display: none;
    }
  }

  .sponsors{
    order: 1;
    width: 100%;
  }

  @media (max-width: $mobile){
    .sponsors{
      flex-direction: column;
    }
  }
}


