@use '../abstracts/' as *;

.testimony-container{
  display: grid;
  grid-template-columns: 0.5fr 0.4fr 0.6fr;
  grid-template-rows: 0.3fr 0.8fr 0.2fr 1fr;
  column-gap: 2vw;
  row-gap: 1.5vw;
  padding-inline: 6vw;
  margin-bottom: 10vh;
}

.testimony-title{
  grid-column-start: 1;
  grid-column-end: 2;

  @include aside-text($accent-color);
}

.testimony-card{
  background-color: $secondary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8% 2% 8%;

  & > img{
    width: 62px;
    height: auto;
  }

  & > p{
    margin-inline: 10px;
    text-align: center;
    color: $primary;
    font-size: 0.9rem;
    line-height: 1.7;
  }
}

.author{
  display: flex;
  align-items: center;

  & > p{
    color: $primary;
    font-size: 0.9rem;
  }
}


#t1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#t2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

#t3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#t4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

#t5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#t6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media (max-width: $mobile){
 
  .testimony-container{
    display: flex;
    flex-direction: column;
    padding-inline: 8vw;
    margin-block: 10vh;
    gap: 20px;
  }

  .testimony-title{
    text-align: center;
    
    & > h2{
      font-size: 25px;
    }
  }
   

  #t4,
  #t5{
    display: none;
  }
}


@media (min-width: $mobile) and (max-width: $tablet-landscape){
  
  .testimony-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vw;
    padding-inline: 6vw;
    margin-block: 10vh;
  }

  .testimony-title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

    text-align: center;
  }


  #t1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #t2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #t3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #t4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #t5, 
  #t6{
    display: none;
  }
}

@media (min-width: 1400px){
  .testimony-container{
    padding-inline: 8%;
  }
}