@use '../abstracts/' as *;
@use '../components/card-slider';

.services-container{
  display: flex;
  gap: 4vw;
  margin: 4rem 5rem 5rem 5rem;
  padding: 0.4rem;
}

.aside-text{
  padding-top: 3vh;

  & > h3{
    margin: 0;
    font-size: 0.7rem;
    color: $accent-color;
  }

  & > h2{
    margin: 0;
    padding-top: 0.2rem;
    font-size: 24px;
  }

  & > p{
    margin: 0;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: $mobile){
  .services-container{ 
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 1vw;
  }

  .aside-text{
    order: 0;
    margin-inline: 2.5%;
  }

  .aside-text > h3{
    font-size: 12px;
    text-align: start
  }

  .aside-text > h2{
    font-size: 22px;
    text-align: start;
  } 

  .aside-text > p{
    display: none;
  }

  .card-slider-container{
    order: 2;
  }
}


@media (min-width: $tablet-portrait) and (max-width: $tablet-landscape){
  .services-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-inline: 1vw;
  }

  .aside-text{
    order: 0;
    margin-inline: 2.5%;
  }

  .aside-text > h3{
    font-size: 12px;
    text-align: start
  }

  .aside-text > h2{
    font-size: 24px;
    text-align: start;
  } 

  .aside-text > p{
    display: none;
  }

  .card-slider-container{
    order: 2;
  }
}

@media (min-width: 1000px) and (max-width: 1400px){
}